# Topic 7 DQ 1

In what situations might you choose to use ANOVA over linear regression or vice versa? Provide a real-life example dataset and explain how you would approach the data analysis using either ANOVA or linear regression. Justify your choice of one of the two approaches. How can Python be used to develop a useful tool in this context?

Prepare your answer as follows:

    Provide a professionally written answer, anchored in scholarly work.
    Create a diagram, table, or other visual prop to help explain your answer and include 1–2 sentences describing the visuals.
    Include a Jupyter notebook with the relevant Python code you created.
    Record a short 2- to 3-minute video (using tools like Zoom or Loom) in which you explain your answer and code. Use an online video platform such as Loom, YouTube, or Vimeo to upload your completed video. Include the link to the video in your answer.

### Introduction:

ANOVA (Analysis of Variance) and linear regression are both statistical techniques used to analyze relationships between variables. While they share similarities, they are applied in different contexts based on the nature of the data and the research question at hand. Understanding when to use ANOVA over linear regression, or vice versa, is crucial for effective data analysis.

### What Is Analysis of Variance (ANOVA)? 
Analysis of variance (ANOVA) is an analysis tool used in statistics that splits an observed aggregate variability found inside a data set into two parts: systematic factors and random factors. The systematic factors have a statistical influence on the given data set, while the random factors do not. Analysts use the ANOVA test to determine the influence that independent variables have on the dependent variable in a regression study.

### Example of ANOVA Model Preferred
Suppose a biologist wants to understand whether or not four different fertilizers lead to the same average plant growth (in inches) during a one-month period. To test this, she applies each fertilizer to 20 plants and records the growth of each plant after one month.
In this scenario, the biologist should use a one-way ANOVA model to analyze the differences between the fertilizers because there is one predictor variable and it is categorical.

### What is linear regression?
Linear regression analysis is used to predict the value of a variable based on the value of another variable. The variable you want to predict is called the dependent variable. The variable you are using to predict the other variable's value is called the independent variable.

### Example of Regression Model Preferred

Suppose a real estate agent wants to understand the relationship between square footage and house price. To analyze this relationship, he collects data on square footage and house price for 200 houses in a particular city.
In this scenario, the real estate agent should use a simple linear regression model to analyze the relationship between these two variables because the predictor variable (square footage) is continuous.

### ANOVA vs. Linear Regression:
ANOVA is typically used when the main objective is to compare means across multiple groups. It is well-suited for situations where the independent variable is categorical and the dependent variable is continuous. On the other hand, linear regression is employed when the focus is on predicting the value of a continuous dependent variable based on one or more continuous or categorical independent variables.

In [14]:
import pandas as pd
from scipy.stats import f_oneway

In [15]:
df = pd.read_excel("SalaryDataNWW.xlsx")
df

     Education  Occupation  Salary
0            3           1  153197
1            3           1  115945
2            3           1  175935
3            3           1  220754
4            3           2  170769
..         ...         ...     ...
595          2           4  173935
596          2           4  212448
597          2           4  173664
598          2           4  212760
599          3           4  212781

[600 rows x 3 columns]

In [24]:
df[df["Education"] == 3]

     Education  Occupation  Salary
0            3           1  153197
1            3           1  115945
2            3           1  175935
3            3           1  220754
4            3           2  170769
..         ...         ...     ...
571          3           3  249207
572          3           3  235334
573          3           3  248871
574          3           3  257345
599          3           4  212781

[240 rows x 3 columns]

In [25]:
# ANOVA
# Perform one-way ANOVA
anova_results = f_oneway(df[df['Education'] == 1]['Salary'],
                         df[df['Education'] == 2]['Salary'],
                         df[df['Education'] == 3]['Salary'])

In [26]:

# Print ANOVA results
print("ANOVA results:")
print("F-statistic:", anova_results.statistic)
print("p-value:", anova_results.pvalue)

ANOVA results:
F-statistic: 499.4837624997721
p-value: 3.354740360444826e-128